__pycache__/
*.pyc
*.pyo
.pytest_cache/
storage/
archives/
data/*.db-journal
data/*.db-wal
data/*.db-shm
telegram/session/*.session-journal
telegram/session/*.session
*.log
*.zip
PACS_System_Portable.zip
